table{

	border-collapse: collapse;
	text-align: center;
	position: absolute;
	right: 25%;
}
td{
	width: 100px;
}

input{
	outline: none;
}
a{
	font-family: "宋体";
	text-decoration: none;
}
.leftlogo{
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
	width: 16.66666667%;
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: none;
	
}

