<include file="Public:adminheader" />
<div class="admin">
	<h2>{$id}评论管理</h2>
	<table class="am-table am-table-bordered">
		<thead>
			<tr>
				<th>评论者昵称</th>
				<th>评论者邮箱</th>
				<th>内容</th>
				<th>删除</th>
			</tr>
		</thead>
		<tbody>
			<volist name="data" id="vo">
				<tr>
					<td>{$vo.nname}</td>
					<td>{$vo.email}</td>
					<td>{$vo.reply}</td>
					<td><a href="__URL__/replydel/id/{$vo.id}" onclick="return shanchu()">删除</a></td>
				</tr>
			</volist>
		</tbody>
	</table>
</div>
</div>
<div class="footer">
	<p>版权所有 &copy; 天空网络科技</p>
	<p>Prowered by Skymz.cc</p>
	</div>
</body>
</html>