* {
	padding: 0;
	margin: 0;
}
 

 

 
form {
	width: 700px;
	margin: 0 auto;
}
 
input {
	padding: 0 0 0 7px;
	width: 538px;
	height: 33px;
	border: 1px solid #b6b6b6;
	 float:left;
}
 
.search_butt {
	width: 100px;
	height: 35px;
	padding-top: 1px;
	padding-bottom: 1px;
	border: 0;
	background-color: #3385ff;
	color: #fff;
	font-size: 15px;
}
 
form button:hover {
	cursor: pointer;
}
 
