.qq-nav {
	padding-bottom: 30px
}

.qq-nav .nav-mod {
	position: relative;
	height: 50px;
	padding-left: 20px;
	background-color: #1479d7;
}

.qq-nav .nav-mod .nav-item {
	white-space: nowrap;
	display: inline-block;
	width: 230px;
	text-align: center
}
.qq-nav .nav-mod .nav-item:hover {
	color: #14539a;
	background-color: #cbe1ed
}

.qq-nav .nav-mod .nav-main {
	line-height: 50px
}

.qq-nav .nav-mod .nav-main a {
	text-decoration: none;
	padding: 4px 5px;
	color: #FFF
}

.qq-nav .nav-mod .nav-main a:hover {
	color: #14539a;
	background-color: #cbe1ed
}




.qq-nav .nav-mod {
	height: 45px;
	font-size: 16px;
	padding-left: 9px
}

.qq-nav .nav-mod .nav-main {
	line-height: 44px
}


